* {
    box-sizing: border-box;
    padding: auto;
    margin: 0;
}


#logoSize
{
 
  /* background-image: url("../images/logo.png"); */
  width: 23%; 
  height: 63px;
  background-size: cover;
  background-size: 66px;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
 

}

#logo
{
  width: 36%; 
  height: 66px;
  display: block;
 margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  /* width: 12%; */
   /* padding-top: 6px;  */
   padding-bottom: 6px; 
 padding-left: 2px;
  align-content: center; 
  
  /* padding-bottom: 15px; */
}
/* old code starts */
.heading-text {
    justify-content:center;
    padding-left: 42px; 
    padding-right: 36px;
}

.menu1 
{ 
  width: 100%;    
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    top: 0;
    height: 63px;
   
} 
.menu2 {
    width: 77%;
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Sans', Arial;
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    top: 0;
    height: 63px;
    padding-top: 21px;
    padding-bottom: 15px;
    padding-left:150px;
    padding-right:150px;
    /* z-index: 1; */
}


    
    /* this will give a different colour to logo */
.logo-colour-mix1 {
        color: orchid;  
}

.logo-colour-mix2
{
    color: royalblue;
}

header nav ul { 
   
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    list-style: none; 
    padding-left: .1px; 
    padding-right: 15px;  
     } 

header nav ul li   
 {  
display: flex;  
 flex-wrap: wrap;  
 justify-content: space-between;  
 align-items: center;  
 list-style: none;  

 padding-left: 6px;  
 padding-right: 15px;
 
 /* font-size: 18px; */ 
  }  

#buttonClr
{
  border: none;
  color: white;
  padding-top: 2.4px;
  padding-bottom: 2.4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color:#4f9cc8;
}

.landingPage
{

  background-image: url("../images/car-2.jpeg"); 
  width: 90%; 
  height: 758px;
  background-size: cover;
  background-position: center;
  margin-left: 74px;
  margin-right: 74px;
                     /* <------ */
}

#search
{
  align-content: center;
  padding-left: 51px;
  padding-right: 45px;
  padding-bottom: 4.5px;
}
#search2
{
  align-content: center;
  padding-left: 15px;
  padding-right: 36px;
}
#search3
{
  align-content: center;
  padding-left: 121.75px;
  padding-right: 118.25px;
}

.vehicleSearch 
{
  height: 758px;
}

#year 
{
  background-color: #D1D8E2;
}
#make 
{
  background-color: #D1D8E2;
}

#mileage
{
  background-color: #D1D8E2;
}

#submitBtn
{
  background-color:#48a37e;
  border: none;
  color: white;
  padding: 6px 9px 6px 9px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  
}



.row-inquiry
{
  padding-top: 93px;
  padding-bottom: 145px;
  padding-left: 510px;
  padding-right: 510px; 
  
}

/* add info here equal length height-start */

.container {
    margin: auto;
    width: 100%;
    height: 378px;
    align-content: center;
  
 
/* light artic ice */
 /* background-color: #F2FFFA;  */
/* light aquamarine */
}

.heading
{    
 padding-left: 30%;
 padding-right: 30%;
  align-items: center; 
    justify-content: center;  
}

#head1

  {    
    padding-left: 35%;
    padding-right: 32%;
     align-items: center; 
       justify-content: center;  
   }
   #head2

   {    
     padding-left: 27%;
     padding-right: 24.5%;
     align-items: center; 
     justify-content: center;  
    }
    #head3

   {    
     padding-left: 27%;
     padding-right: 25%;
     align-items: center; 
     justify-content: center;  
    }

    /* check if centered both below */
    #head4
    {         
      color:blueviolet; 
      font-weight: bold;
      font-size: 36px;
      height: 300px;
     width: 100%;

     }

 
    #head5
    {    
     padding-left: 35%;
     padding-right: 31%;
      align-items: center; 
      justify-content: center;  
     }


.inquiry 
{

width: 62%;
}

.inquiryDiv{
    margin:100px;
}

#interest1 
  { 
    
align-items: center;   
justify-content: center;  
padding-left: 42%;
padding-right: 39%;
width: 100%;
 }

 #interest2 
  { 
align-items: center;   
justify-content: center;  
padding-left: 42.5%;
padding-right: 40.5%;
width: 100%;
 }
 #interest3 
  { 
align-items: center;   
justify-content: center;  
padding-left: 43.5%;
padding-right: 42.5%;
width: 100%;
 }
 #interest4
  { 
align-items: center;   
justify-content: center;  
padding-left: 48.15%;
padding-right: 48.85%;
width: 100%;
 }

 #stockNumber 
 {
  background-color: #D1D8E2;
 }

 #yourName 
 {
  background-color: #D1D8E2;
 }

 #yourPhoneEmail
 {
  background-color: #D1D8E2;
 }

#v-price
{
  background-color: #D1D8E2;
}
#v-down
{
  background-color: #D1D8E2;
}
#v-interest
{
  background-color: #D1D8E2;
}
#v-interval
{
  background-color: #D1D8E2;
}
#v-length
{
  background-color: #D1D8E2;
}
#payment1
{
  align-items: center;   
    justify-content: center;  
    padding-left: 40.92%;
    padding-right: 39.02%;
    width: 100%;
}
#payment2
{
  align-items: center;   
    justify-content: center;  
    padding-left: 40.52%;
    padding-right: 39.42%;
    width: 100%;
}
#payment3
{
  align-items: center;   
    justify-content: center;  
    padding-left: 43.92%;
    padding-right: 36.02%;
    width: 100%;
}
#payment4
{
  align-items: center;   
    justify-content: center;  
    padding-left: 42.02%;
    padding-right: 39.82%;
    width: 100%;
}
#payment5
{
  align-items: center;   
    justify-content: center;  
    padding-left: 44.72%;
    padding-right: 35.42%;
    width: 100%;
}

#carDisplay
{
  background-color:  #90BED4;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 8px #888888;
  justify-content: center;
  margin-left: 15px;

  /* box-shadow: 10px 10px 5px #aaaaaa; */
}

#stockPosition 
{
  padding-left: 22.65px;
}

.carPictures
{

    width: 50%;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    list-style: none; 
}


img {
    width:390px;
    height:300px;
    /* background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0; */
    object-fit: cover;

  }

.imgDisplay
{
    width:390px;
    height:300px;

  }


#stockDisplay

{
  padding-right: 2px;
    height:90px;
    

}
#payment-calc{
    padding: auto 100px auto;
}
/* all models need to be checked */
.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .my-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  #club 
  {
    height: 758px;
  }

  #displayGallery
  {
      height: 648px;
      background-image: url("../images/formulae-one.jpeg"); 
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
      height: 100%;
      background-size: cover;
      border: none;
      overflow: scroll;
  }
  
  #mechanic 
  {
    height: 758px;
  }
  
#sizeButton
{
width: 150px;
height: 45px;

}

  #window
{
  width: 100%;    
  height: 658px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    top: 0;
   border-top-width: 3px;
   border-color: #000000;
   background-color: #eceff8;
    
}
#flex {
  width: 100%;
height: 217px;
justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    top: 0;
}

#flex1 
{
  width: 50%;
  background-color: #4b4836;
  opacity: 0.5;
}

#flex2
{
  width: 50%;
  background-color: #4f9cc8;
  opacity: 0.5;
}
#flex3
{
  width: 50%;
  background-color: royalblue;
  opacity: 0.5;
}
#flex4
{
  width: 50%;
  background-color: blueviolet;
  opacity: 0.5;
}
#flex5
{
  width: 50%;
  background-color: orchid;
  opacity: 0.5;
}
#flex6
{
  width: 50%;
  background-color: coral;
  opacity: 0.5;
}
#flex7
{
  width: 50%;
  background-color: azure;
  opacity: 0.5;
}
#flex8
{
  width: 50%;
  background-color: paleturquoise;
  opacity: 0.5;
}
#flex9
{
  width: 50%;
  background-color: turquoise;
  opacity: 0.5;
}
#flex10
{
  width: 50%;
  background-color: blue;
  opacity: 0.5;
}
#flex11
{
  width: 50%;
  background-color: beige;
  opacity: 0.5;
}
#flex12
{
  width: 50%;
  background-color: grey;
  opacity: 0.5;
}











#padding-left 
{
  height: 658px;
  width: 15%;
  background-color:#9DBED4;
}


  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;  
    }


#toolSubmit 
{

/* add flex here */

  height: 658px;
  width: 15%;
  background-color:#9DBED4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

#padding-right
{
  height: 658px;
  width: 15%;
  background-color:#9DBED4;
}



  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  

/* Contact Us Section */

.contact {
  background: white;
  height: 758px;
}

.contact h2 {
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  /* border-bottom: 3px solid; */
  padding-bottom: 20px; 
  text-align: center;
  margin: 0 auto 35px auto;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: #4b4836;
}

.contact-info h3 {
  color: #000000;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: #000000;
}

/* Footer */
footer {
  padding-left: 70px; 
  padding-right: 70px; 
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
footer h2 {
  color: black;
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: black;
  padding: 5px;
}

footer img {
  height: 15px;
  width: 15px;
}

/* old code ends */

