* {
    box-sizing: border-box;
    padding: auto;
    margin: 0;
}

.heading-text {
    justify-content:center;
}

.menu {
    
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Sans', Arial;
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
}


    
    /* this will give a different colour to logo */
.logo-colour-mix1 {
        color: orchid;  
}

.logo-colour-mix2
{
    color: royalblue;
}

header nav ul {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 30px;
    padding-right: 9px;
}

header nav ul li a 
{

display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
padding-left: 30px;
padding-right: 15px;
font-size: 18px;
}

.container {
    margin: auto;
    width: 100%;
    background-color: #eceff8;
    padding: 50px;
 
/* light artic ice */
 /* background-color: #F2FFFA;  */
/* light aquamarine */
}

.heading
{
    
    align-items: center; 
    justify-content: center;  
}

.inquiry 
{

width: 62%;
}

.inquiryDiv{
    margin:100px;
}

.interest 
  {  
   margin:auto;
    padding-left: 330px; 
    padding-right: 330px;  
    align-items: center;   
    justify-content: center;    
 }  

/*.flexContainer
{
/* flex box parent */
 /*   display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    list-style: none; 
    width: 100%; 
/* light artic ice */
 /* background-color: #F2FFFA;  */
/* light aquamarine */

.carPictures
{

    width: 50%;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    list-style: none; 
}


img {
    width:390px;
    height:300px;
    /* background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0; */
    object-fit: cover
  }

.imgDisplay
{
    width:390px;
    height:300px;
}


.stockDisplay

{
    height:90px;
}
#payment-calc{
    padding: auto 100px auto;
}
.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .my-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  

/* Contact Us Section */

.contact {
  background: white;
}

.contact h2 {
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  /* border-bottom: 3px solid; */
  padding-bottom: 20px; 
  text-align: center;
  margin: 0 auto 35px auto;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: #4b4836;
}

.contact-info h3 {
  color: #000000;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: #000000;
}

/* Footer */
footer {
  padding-left: 70px; 
  padding-right: 70px; 
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
footer h2 {
  color: black;
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: black;
  padding: 5px;
}

footer img {
  height: 15px;
  width: 15px;
}


